/* flexbox */

.horizontal-box {
  display: flex;
}

.vertical-box {
  display: flex;
  flex-direction: column;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align-box {
  display: flex;
  justify-content: center;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.end-box {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.start-box {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.spaced-box {
  display: flex;
  justify-content: space-between;
}

.horizontal-scroll-box {
  display: flex;
  overflow-x: scroll;
}

/* navbar and menu */
.mininavbar {
  width: 100%;
}

.navbar {
  top: 0;
  left: 0;
  background-color: var(--color-dark-red);
  font-weight: 700;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.close-out {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  margin: 3% 3% 3% 0px;
  z-index: 2;
}

.navbar-options {
  display: flex;
  margin-right: 10%;
  justify-content: flex-end;
  color: var(--color-cream);
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 800;
  z-index: 2;
}

.boots-background {
  position: absolute;
  z-index: 1;
}

.boot-short-left {
  left: 0%;
}

.boot-left {
  left: 32%;
}

.boot-far-left {
  left: 40%;
}

.boot-right {
  right: 7%;
}

/* margins and constraints */

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.mini-right-margin {
  margin-right: 2%;
}

.small-right-margin {
  margin-right: 5%;
}

.mini-center-margin {
  margin: 2% 8%;
}

.small-center-margin {
  margin: 5% 22%;
}

.mini-left-margin {
  margin-left: 2%;
}

.small-left-margin {
  margin-left: 5%;
}

.medium-left-margin {
  margin-left: 10%;
}

.large-left-margin {
  margin-left: 30%;
}

.mini-top-margin {
  margin-top: 2%;
}

.small-top-margin {
  margin-top: 5%;
}

.medium-top-margin {
  margin-top: 10%;
}

.small-bottom-margin {
  margin-bottom: 5%;
}

.medium-bottom-margin {
  margin-bottom: 10%;
}

.medium-center-margin {
  margin: 2% 10%;
}

.large-center-margin {
  margin: 5% 25%;
}

.side-margin {
  margin: 0% 3%;
}

.medium-side-margin {
  margin: 0% 8%
}

.large-side-margin {
  margin: 0% 10%
}

/* archive */

.archive {
  width: 80vw;
}

.archive-box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.archive-title-header {
  color: var(--color-cream);
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.archive-main-header {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  color: var(--color-dark-red);
  font-weight: 700;
  -webkit-text-stroke: 3.5px var(--color-cream);
}

.archive-photo-box {
  width: fit-content;
  height: fit-content;
  background-color: var(--color-cream);
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
}

.archive-photo-header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.archive-photo-header {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-red);
  font-weight: 500;
  font-size: 26px;
}

.archive-photo-subheader {
  font-family: "Poppins", sans-serif;
  color: var(--color-line);
  font-weight: 500;
  font-size: 21px;
}

.archive-arrow {
  display: flex;
  justify-content: flex-end;
}

/* audition */

.audition-box {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.line {
  border-top: 2px solid var(--color-line);
  width: 70%;
}

.title-box {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.detail-box {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

/* texts */

.color-red {
  color: var(--color-dark-red);
}

.color-white {
  color: var(--color-cream);
}

.color-light-red {
  color: var(--color-line);
}

.color-black {
  color: var(--color-black);
}

.color-light-pink {
  color: var(--color-light-pink);
}

/* contact */

.contact-box {
  width: 50%;
}

.contact-light-red-box {
  width: 35%;
  height: 75vh;
  background-color: var(--color-line);
  z-index: 2;
  position: absolute;

}

.contact-red-box {
  width: 35%;
  height: 75vh;
  background-color: var(--color-dark-red);
  z-index: 1;
  position: absolute;
  top: 17%;
  left: 52%;
}

.contact-text {
  width: 52%;
}

.contact-text-box {
  background-color: white;
  height: 5vh;
}

.contact-submit-box {
  background-color: var(--color-dark-red);
  color: white;
  text-align: center;
  padding: 2vh 0;
}

/* home */
.home-header {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: 800;
}

.home-header-box {
  width: 100%;
  height: 40%;
}

.home-text-box {
  background-color: var(--color-cream);
  width: 100%;
  height: max-content;
  position: relative;
  overflow: hidden;
}

.home-text-margin {
  margin: 5% 15%;
}

.home {
  z-index: 2;
  position: relative;
}

.home-background-text {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 800;
  writing-mode: vertical-lr;
  position: absolute;
  transform: rotate(180deg) translateY(40px);
  z-index: 1;
  height: max-content;
}

.interested-box-padding {
  padding: 8% 0%;
}

/* dress */
.dress-background {
  width: 120%;
  background-color: var(--color-line);
  padding: 20px;
  border-top: 1vh solid var(--color-dark-red);
  border-bottom: 1vh solid var(--color-dark-red);
}

.dress-container {
  width: 90vw;
}

/* years */
.black-background {
  background-color: var(--color-black);
  transform: rotate(2.7deg);
  height: 10vh;
  padding: 5% 3%;
  position: absolute;
}

/* footer */

.footer-text-container {
  display: inline-block;
  height: fit-content;
  padding-top: 12vh;
  width: 60%;
}

.white-footer {
  background-color: var(--color-cream);
  padding-top: 5vh;
  height: fit-content;
}

.red-footer {
  background-color: var(--color-dark-red);
  padding-top: 5vh;
  padding-bottom: 1vh;
  height: fit-content;
  margin: 0;
}

.red-triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-right: 100vw solid var(--color-dark-red);
  position: absolute;
}

.white-triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-right: 100vw solid var(--color-cream);
  position: absolute;
}

.black-footer {
  background-color: var(--color-black);
  padding: 3% 20%;
  height: max-content;
}


.footer-box {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

/* colors */

.white {
  background-color: var(--color-cream);
}

/* fonts */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 65px;
  margin: 1vh;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 48px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 1vh;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 2%;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

input {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 22px;
  padding-left: 5px;
}

textarea {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 22px;
  padding-left: 5px;
  margin-bottom: 2%;
  background-color: white;
  height: 20vh;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/ttf/Montserrat-ExtraBold.ttf");
}

/* misc */

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.absolute {
  position: absolute;
}

.small-rotate {
  transform: rotate(2deg);
}