/* flexbox */
.horizontal {
    display: flex;
}

/* navbar */

.navbar {
    font-weight: 700;
    width: 100%;
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.close-out {
    padding-top: 2%;
    padding-left: 95%;
}