:root {
  --color-light-red: #CB1D39;
  --color-dark-red: #B90329; 
  --color-white: #FFFFFF; 
  --color-cream: #FFFBF7;
}

body {
  margin: 0;
}

.background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-red);
  position: fixed;
}