:root {
  --color-red: #B90329; 
  --color-white: #FFFFFF; 
  --color-cream: #FFFBF7;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* */

navbar {
  font-family: "Montserrat", sans-serif;
}

