:root {
  --color-light-red: #CB1D39;
  --color-dark-red: #B90329;
  --color-white: #FFFFFF;
  --color-cream: #FFFBF7;
  --color-overlay: #74051C;
  --color-line: #E6A2AD;
  --color-black: #282828;
  --color-light-pink: #F9E7E6;
  --color-dark-pink: #C0848C;
}

body {
  margin: 0;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-dark-red);
  position: relative;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}